/* .cardsdiv{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap:2px;
  justify-content: center;
  align-items: center;
  margin-left:100px;
  margin-right:100px;
  grid-gap:1px;
} */

.cardsdiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-gap:1px;
  grid-row-start: auto;
  grid-column-end: auto;
  margin-left: 350px;
  margin-right: 350px;
}
